
<mtapp:setting
   id="entries_per_day"
   label="Entries Per Day">
  <input type="text" name="entries_per_day" id="entries_per_day" value="<mt:var name="entries_per_day">" />
</mtapp:setting>

<mtapp:setting
   id="post_window"
   label="Posting Window">
  <input type="text" name="post_window_start" id="post_window_start" value="<mt:var name="post_window_start">" maxlength="5"/> - <input type="text" name="post_window_end" id="post_window_end" value="<mt:var name="post_window_end">" maxlength="5" />
</mtapp:setting>

